*{
    margin: 0;
    padding: 0;
    }

    body {
        background-color: lightgray;
        height: 100vh;
    }

    .box1 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    }

    .box2 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 7%;
    }

    .box3 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 14%;
    }

    .box4 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    top: 14%;
    left: 0%;
    }

    .box5 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    top: 14%;
    left: 7%;
    }

    .box6 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    top: 28%;
    left: 0%;
    }

    .box7 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    bottom: 28%;
    right: 0%;
    }

    .box8 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    bottom: 14%;
    right: 0%;
    }

    .box9 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    bottom: 14%;
    right: 7%;
    }

    .box10 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    bottom: 0%;
    right: 14%;
    }

    .box11 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    bottom: 0%;
    right: 7%;
    }

    .box12 {
    height: 13vh;
    width: 13vh;
    background-color: #333;
    position: absolute;
    bottom: 0%;
    right: 0%;
    }